body {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}



header {
  justify-content: space-around;
  align-items: center;
  list-style: none ;
  padding: 24px 24px 24px 2px;
  display: flex;
}

header img {
  width: 128px;
}

.header_element {
color: black;
text-decoration: none;
justify-content: space-between;
margin: 0 30px;
}

.header_element:first-of-type {
  margin-left: 0;
  color: #1b8036;
}


.submenu {
  background-image: url(images/Vector.png);
  background-position: right;
  background-repeat: no-repeat ;
  padding-right: 30px;
}

header button {
  border: 0;
  border-radius: 30px;
  background: #1b8036;
  color: white;
  font-size: 19px;
  height: 52px;
  width: 151px;
box-shadow: 3.23094px 10.7698px 21.5396px rgba(27, 128, 54, 0.51);
border-radius: 26.386px;
}


.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 10%;

}

.intro_text h1 {
  font-size: 74px;
  color: #1b8036;
  margin-right: 120px;
  margin-bottom: 25px;
}

.intro_image {
  margin-left: 150px;
}

.section_intro {
  height: 90vh;
}

.intro_text p {
  font-size: 25px;
}

.intro_text button {
  font-size: 20px;
  border-radius: 30px;
  background: #1b8036;
  color: white;
  height: 60px;
  width: 162px;
  border: 0;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 200px 10px;
  padding-left: 150px;
  padding-right: 150px;
  align-items: center;
  justify-content: center;
}

.grid li {
color: black;
text-transform: uppercase;
font-size:14px;
font-weight:700;
margin-bottom:25px;
}

.grid h1 {
  font-size: 38px;
  font-weight: 700;
}

.grid p {
  font-size: 25px;
  font-weight: 400;
}


.grid2 h3 {
  color: black;
  font-size: 19px;
  font-weight: 400;
}

.grid2 h4 {
  color: black;
  font-size: 19px;
  font-weight: 400;
}

.grid2 p {
  font-size: 25px;
  font-weight: 500;
}

.products {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 100px;
  color: #1b8036;
}

.products p {
  font-size: 38px;
  font-weight: bold;
}

.grid_third_image {
  margin-left: 200px;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 100px;
}

.grid2 h1 {
  font-size: 38px;
}

.grid_hr {
  margin-left: 150px;
  margin-right: 150px;
}

.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 150px;
  align-items: center;
  justify-content: center;
}

.grid3 h1 {
font-size: 38px;
}

.grid3 h3 {
  font-size: 25px;
  font-weight: 500;
}

.grid3 h4 {
  color: black;
  font-size: 19px;
  font-weight: 400;
}


.questions {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.questions p {
  font-size: 38px;
  font-weight: bold;
}



.box_verte {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 100px;
  border-radius:25px;
  justify-content: space-around;
  font-weight:700;
  font-size:25px;
  color: white;
  background: #3fc262;
  background: linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 60.46%, rgba(8, 63, 26, 0.86) 97.79%);
  }
 
  .ul {
    display: inline-block;
  }

.btn_subs {
  padding: 20px;
  background-color: #ECECEC;
  display: flex;
  align-items: center;
  border-radius: 50px;

}

.btn_subs p {
margin-right:200px;
margin-left:20px;
color: black;
font-size:20px;
font-weight: 100;

}

.btn_subs button {
  border: 0;
  border-radius: 30px;
  background: #1B8036;
  color: white;
  font-size: 19px;
  height: 52px;
  width: 151px;
  vertical-align: middle;
}


footer {
  padding: 50px 50px 50px 50px;
  background: #3fc262;
  background : linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 60.46%, rgba(8, 63, 26, 0.86) 97.79%);
  color: white;
  font-weight: 400;
  justify-content: space-around;
}

footer hr {
  margin: 50px;
}

.liste_footer_une {
  display: flex;
  justify-content: space-between;
}

.liste_footer_une > ul {
width: 200px;
}

footer li {
  list-style: none;
}

footer p {
  text-align: center;
}

.element_titre {
  font-weight: 500;
}

.logo_reseaux {
  display: flex;
  justify-content: left;
}

.logo_reseaux img {
  margin-right: 10px;
  margin-top: 15px;
}

.copyright {
  align-items: center;
  justify-content: center;
}