body {
  font-size: 18px;
  font-family: sans-serif;
  color: black;
}



header {
  justify-content: space-around;
  align-items: center;
  list-style: none ;
  padding: 24px 24px 24px 24px;
  display: flex;
}

header img {
  width: 128px;
}

.header_element {
color: black;
text-decoration: none;
justify-content: space-between;
margin: 0 30px;
}

.header_element:first-of-type {
  margin-left: 0;
  color: #1b8036;
}


.submenu {
  background-image: url(images/Vector.png);
  background-position: right;
  background-repeat: no-repeat ;
  padding-right: 30px;
}

header button {
  border: 0;
  border-radius: 30px;
  background: #1b8036;
  color: white;
  font-size: 19px;
  height: 52px;
  width: 151px;
}


.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 20%;
  left: 20%;

}

.intro_text h1 {
  font-size: 74px;
  color: #1b8036;
  margin-right: 120px;
  margin-bottom: 25px;
}

p {
  font-size: 20px;
}

.section_intro {
  height: 100vh;
}

.intro_text p {
  font-size: 25px;
}

.intro_text button {
  font-size: 20px;
  border-radius: 30px;
  background: #1b8036;
  color: white;
  height: 60px;
  width: 162px;
  border: 0;

}